/* Color Theme Swatches in Hex */

/*.background { color: #D99748; }
 Tom mais escuro{ color: #8C5627; }
destaque { color: #8C2B07; }
principal{ color: #591303; }
.UI/UX-5-hex { color: #F2F2F2; }*/

html{
    background-color: #D99748;
    color: #591303;
}